# Atividade 01 - Praticando com Python
Atividade 01 - Praticando o Python (Etapa 03)\
Desenvolvedor: Ana Julia Pietroski Anderson\
Matrícula: 20206355

Etapa 3: Gerar números aleatórios que representem a atividade industrial (ex: toneladas de cimento produzido). Utilize alguma indústria do estado para basear seus códigos.

### Dados das toneladas movimentadas no porto de Imbitura entre 2018 a 2023

In [43]:
import pandas as pd
import numpy as np

# Definindo os meses e anos
meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
anos = ['2018', '2019', '2020', '2021', '2022', '2023']

In [44]:
# Criando DataFrame
df = pd.DataFrame(dados)

In [45]:
# Convertendo DataFrame para HTML
tabela_html = df.to_html(index=False)

In [46]:
# Criando uma coluna random dentro do dataframe df
df['random'] = np.random.rand(df.shape[0])

In [47]:
df['random'][0:12]

0     0.038076
1     0.846035
2     0.154742
3     0.655243
4     0.650524
5     0.414044
6     0.593791
7     0.767276
8     0.296513
9     0.718859
10    0.148639
11    0.697494
Name: random, dtype: float64

In [48]:
# Imprimindo o HTML da tabela
print(tabela_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Meses</th>
      <th>2018</th>
      <th>2019</th>
      <th>2020</th>
      <th>2021</th>
      <th>2022</th>
      <th>2023</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>janeiro</td>
      <td>259.133</td>
      <td>325.976</td>
      <td>342.800</td>
      <td>342.806</td>
      <td>671.671</td>
      <td>514.497</td>
    </tr>
    <tr>
      <td>fevereiro</td>
      <td>391.361</td>
      <td>423.995</td>
      <td>350.275</td>
      <td>350.275</td>
      <td>464.656</td>
      <td>503.830</td>
    </tr>
    <tr>
      <td>março</td>
      <td>462.438</td>
      <td>592.641</td>
      <td>486.052</td>
      <td>486.052</td>
      <td>537.192</td>
      <td>710.346</td>
    </tr>
    <tr>
      <td>abril</td>
      <td>477.584</td>
      <td>549.229</td>
      <td>414.448</td>
      <td>414.448</td>
      <td>681.368</td>
      <td>767.772</td>
    </tr>
    <tr>
      <td>maio</td>
      <td>469.487</td>
      <td>433.821</td>
      <td>435.262</td>
      <td>435.262</td>
      <td>602.266</td>
      <td>700.069</td>
    </tr>
    <tr>
      <td>junho</td>
      <td>555.164</td>
      <td>542.595</td>
      <td>602.370</td>
      <td>602.370</td>
      <td>543.264</td>
      <td>527.650</td>
    </tr>
    <tr>
      <td>julho</td>
      <td>403.241</td>
      <td>332.826</td>
      <td>552.355</td>
      <td>552.355</td>
      <td>706.752</td>
      <td>700.210</td>
    </tr>
    <tr>
      <td>agosto</td>
      <td>518.894</td>
      <td>495.608</td>
      <td>558.523</td>
      <td>558.523</td>
      <td>695.626</td>
      <td>694.857</td>
    </tr>
    <tr>
      <td>setembro</td>
      <td>482.896</td>
      <td>422.193</td>
      <td>602.737</td>
      <td>602.737</td>
      <td>561.047</td>
      <td>625.556</td>
    </tr>
    <tr>
      <td>outubro</td>
      <td>543.072</td>
      <td>497.504</td>
      <td>376.619</td>
      <td>376.619</td>
      <td>538.017</td>
      <td>567.343</td>
    </tr>
    <tr>
      <td>novembro</td>
      <td>375.524</td>
      <td>430.754</td>
      <td>484.320</td>
      <td>484.340</td>
      <td>582.679</td>
      <td>699.745</td>
    </tr>
    <tr>
      <td>dezembro</td>
      <td>283.825</td>
      <td>514.331</td>
      <td>662.512</td>
      <td>662.512</td>
      <td>537.297</td>
      <td>684.804</td>
    </tr>
  </tbody>
</table>